<h1 style="text-indent: 550px;">Customer serach Page</h1><br><br>
<div class="bee" style="margin-left: 420px;">
    <h4 style="text-indent: 135px; color: #0d6efd;">search for customer</h4><br>
<!-- <form> -->
<div class="form-group" style="width: 150mm;">
    <label for="firstName"><b>Input First Name</b></label>
    <input type="text" class="form-control" id="firstName" aria-describedby="firstName" name="firstName"
        placeholder="Enter firstName" [(ngModel)]="firstName">
</div>


<!-- <div class="form-action-buttons"> -->
    <button class="btn btn-primary" value=submit (click)="save()" >Search</button>

</div>

